.letters {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    justify-content: center;
}

.letter {
    font-size: 32px;
    width: 54px;
    height: 54px;
    background-color: rgb(151, 180, 233);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.letter:hover {
    background-color: rgb(101, 132, 191);
}

.letter:active {
    transform: scale(1.1, 1.1);
}

.checked {
text-decoration: line-through red;
}


/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .letter {
        width: 42px;
        height: 42px;
        font-size: 26px;
    }
  }

  /* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .letters {
        gap: 6px;
    }
}



