
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.question {
  grid-row: 1/2;
  grid-column: 1/3;
  padding: 10px 0;
}

.wrapper {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* .letters {
  width: 440px;
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
} */

.answer {
  padding: 10px 0;
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
  /* .wrapper {
    grid-template-columns: 1fr 1.2fr;
  } */
}