.list {
    display: flex;
    font-size: 38px;
    justify-content: center;
}

.item {
    width: 90px;
    height: 90px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(255, 255, 255);
}

.item span {
    display: none;
}

.item .show {
    display: block;
}

.gameEnd {
    height: 62px;
    color: rgb(187, 72, 72);
    font-size: 54px;
    font-weight: 600;
    text-align: center;
    -webkit-text-stroke: 1px rgb(9, 9, 9);
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .gameEnd {
        height: 52px;
        font-size: 44px;
    }
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .item {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 575.98px) {
    .list {
        font-size: 30px;
    }
    .item {
        width: 44px;
        height: 44px;
    }

    .gameEnd {
        height: 48px;
        font-size: 38px;
    }
}

